<article class="sidebar panel panel-default sidebar-title">
  <div class="panel-heading">Next meetup</div>
  <div class="panel-body">
    <div><strong><%=meetups[0].place %></strong></div>
    <div><%=meetups[0].topic %></div>
    <div><%=meetups[0].date %></div>
    <div><%=meetups[0].hour %></div>
  </div>
</article><!-- article -->